@model Rocket_Admin.Models.Student

@{
    ViewBag.Title = "Edit";
}



@section sidebar
{
    <!-- 左選 -->
    <div class="sidebar"
         data-background-color="white"
         data-active-color="danger">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="index.html" class="simple-text">
                    火箭隊
                </a>
            </div>
            <ul class="nav">
                <li class="active">
                    <a href="/Areas/Students/Index">
                        <i class="ti-user"></i>
                        <p>學員管理</p>
                    </a>
                </li>
                <li>
                    <a href="/Areas/Classes/Index">
                        <i class="ti-book"></i>
                        <p>梯次管理</p>
                    </a>
                </li>
                <li>
                    <a href="/Areas/Users/Index">
                        <i class="ti-book"></i>
                        <p>使用者管理</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>


}

<!-- 內容 -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Chita</h4>
                    </div>
                    <div class="content">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>梯次</label>
                                    <select type="text"
                                            class="form-control border-input"
                                            value= @Model.CId 
                                        name="classNum">
                                        <option value="123" selected>請選擇</option>

                                        @{
                                            string option = "";
                                            int max = ViewBag.Class;
                                            for (int i = 1; i <= max; i++)
                                            {

                                                option += $"<option value=\"{i}\">第{i}梯</option>";

                                            }

                                        }
                                        @Html.Raw(option)


                                      
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>學員名稱</label>
                                    <input required
                                           type="text"
                                           class="form-control border-input"
                                           value= @Model.name
                                           name="name"/>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>原本職業</label>
                                    <input required
                                           type="number"
                                           class="form-control border-input"
                                           value= @Model.exOccupation
                                           name="oldOccupation"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>目標職業</label>
                                    <input required
                                           type="number"
                                           class="form-control border-input"
                                           value=@Model.futureOccupation
                                           targetOccupation
                                           />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>大頭貼</label>
                                    <input required
                                           type="file"
                                           class="form-control border-input"
                                           value=""
                                           name="upfile"/>
                                    <small>(建議尺寸： 500px X 500px)</small>
                                </div>
                                <img style="margin-bottom: 20px; width: 200px; max-width: 100%"
                                     src="assets/img/user/Chita.JPG"
                                     alt=""/>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>狀態</label>
                                    <select required
                                            type="text"
                                            class="form-control border-input"
                                            value=@Model.presence
                                            name="presence">
                                        <option value="" selected>請選擇</option>
                                        <option value="1">培訓中</option>
                                        <option value="0">結訓</option>
                                        <option value="2">退訓</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit"
                                    class="btn btn-info btn-fill btn-wd">
                                確認修改
                            </button>
                        </div>
                        <div class="clearfix"></div>
                    }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>














}
