@using Rocket_Admin.Models
@model IEnumerable<Rocket_Admin.Models.Student>

@{
    ViewBag.Title = "Index";
}


@section sidebar
{
    <!-- 左選 -->
    <div class="sidebar"
         data-background-color="white"
         data-active-color="danger">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="/Areas/Students/Index" class="simple-text">
                    火箭隊
                </a>
            </div>
            <ul class="nav">
                <li class="active">
                    <a href="/Areas/Students/Index">
                        <i class="ti-user"></i>
                        <p>學員管理</p>
                    </a>
                </li>
                <li>
                    <a href="/Areas/Classes/Index">
                        <i class="ti-book"></i>
                        <p>梯次管理</p>
                    </a>
                </li>
                <li>
                    <a href="/Areas/Users/Index">
                        <i class="ti-lock"></i>
                        <p>密碼修改</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>


}

@section topbar{
    <a class="navbar-brand" href="/Areas/Students/Index">學員管理</a>

}




<div class="content products_list">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">
                            <div class="dropdown pull-left">
                        <form id="formClass" action="/Areas/Students/Index" method="post">
                               
                                <label>梯次篩選</label>
                                <select type="text"
                                        class="form-control border-input"
                                        id="classNum"
                                    
                                        name="classNum">
                                    <option value="123" selected>請選擇</option>

                                    @{



                                        string option = "";
                                        int max = ViewBag.Class;
                                        for (int i = 1; i <= max; i++)
                                        {
                                            if (i == ViewBag.ClassNum)
                                            {
                                                <option value="@i" selected="selected">第@(i)梯</option>

                                            }
                                            else
                                            {
                                                <option value="@i">第@(i)梯</option>
                                            }
                                            

                                        }

                                    }
                                    

                               
                                </select>
                        </form>
                            </div>
                            <button class="btn btn-success pull-right"
                                    type="button"
                                    name=""
                                    title=""
                                    data-toggle="modal"
                                    data-target="#add_student">
                                <i class="glyphicon fa fa-plus"></i>新增學員
                            </button>
                        </h4>
                        <p class="category"></p>
                    </div>
                    <table class="table table-shopping img-w100">
                        <thead>
                            <tr>
                                <th style="width:10%"> 梯次</th>
                                <th style="width: 13%;">@Html.DisplayNameFor(model => model.image)</th>
                                <th>@Html.DisplayNameFor(model => model.name)</th>
                                <th>@Html.DisplayNameFor(model => model.exOccupation)</th>
                                <th>@Html.DisplayNameFor(model => model.futureOccupation)</th>
                                <th>@Html.DisplayNameFor(model => model.presence)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(model => item.CId)
                                    </td>
                                    <td><img src="/Areas/Areas/orid_admin/assets/img/user/@Html.DisplayFor(model => item.image)" alt="" /></td>
                                    <td>
                                        @Html.DisplayFor(model => item.name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => item.exOccupation)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => item.futureOccupation)
                                    </td>
                                    <td>
                                        @{
                                            string presence = "";
                                            if (item.presence == EnumList.presenceType.結訓)
                                            {
                                                presence = $"<span class=\"label label-warning\">{item.presence}</span>";
                                            }
                                            else if (item.presence == EnumList.presenceType.陪訓中)
                                            {
                                                presence = $"<span class=\"label label-success\">{item.presence}</span>";
                                            }
                                            else
                                            {
                                                presence = $"<span class=\"label label-default\">{item.presence}</span>";
                                            }

                                        }
                                        @Html.Raw(presence)
                                    </td>
                                    <td class="td-actions">
                                        <a href="/Areas/Students/Edit/@item.id"
                                           rel="tooltip"
                                           title=""
                                           class="btn btn-success btn-simple btn-xs"
                                           data-original-title="編輯">
                                            <i class="ti-pencil-alt"></i>
                                        </a>
                                        @using (Html.BeginForm("Delete", "Students"))
                                        {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="id" value="@item.id" />
                                            <button  class="btn btn-danger btn-simple btn-xs" type="submit" style="font-size: 19px; transform: scale(1.5, 1.1);" onclick="javascript:if (!window.confirm('你確定要刪除嗎?')) return false;">X</button>


                                        }
                                        

                                        
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var classNum = document.querySelector('#classNum');
    var formClass = document.querySelector('#formClass');

    classNum.addEventListener('change', function() {
      
        formClass.submit(classNum.value);


    });

</script>

@section model {


    <!-- 新增學員 Modal -->
    <div class="modal fade add_student"
         id="add_student"
         tabindex="-1"
         role="dialog"
         aria-labelledby="add_student"
         aria-hidden="true">
        <div class="modal-dialog" role="document">

            <iframe src="/Areas/Students/Create" width="100%" height="696px" frameborder="0" scrolling="no" style="border-radius: 6px"></iframe>

        </div>
    </div>

    <!-- 新增學員 Modal結束 -->
   

}


