@model IEnumerable<Rocket_Admin.Models.Class>

@{
    ViewBag.Title = "Index";
}

@section sidebar
{
    <!-- 左選 -->
    <div class="sidebar"
         data-background-color="white"
         data-active-color="danger">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="index.html" class="simple-text">
                    火箭隊
                </a>
            </div>
            <ul class="nav">
                <li>
                    <a href="/Areas/Students/Index">
                        <i class="ti-user"></i>
                        <p>學員管理</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/Areas/Classes/Index">
                        <i class="ti-book"></i>
                        <p>梯次管理</p>
                    </a>
                </li>
                <li>
                    <a href="/Areas/Users/Index">
                        <i class="ti-lock"></i>
                        <p>密碼修改</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

}

@section topbar{
    <a class="navbar-brand" href="/Areas/Students/Index">梯次管理</a>

}


<!-- 內容 -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 news_list">
                <div class="card">
                    <div class="header">
                        <h4 class="title">
                            <a href="#"
                               data-toggle="modal"
                               data-target="#add_class"
                               class="btn btn-success pull-right mb-2"><i class="glyphicon ti-plus"></i> 新增梯次</a>
                        </h4>
                        <p class="category"></p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped">
                            <thead>
                            <th>梯次</th>
                            <th> @Html.DisplayNameFor(model => model.startDate)</th>
                            <th> @Html.DisplayNameFor(model => model.endDate)</th>
                            <th></th>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>第   @item.Session 梯</td>
                                        <td>@Html.DisplayFor(modelItem => item.startDate)</td>
                                        <td>@Html.DisplayFor(modelItem => item.endDate)</td>
                                        <td class="td-actions">
                                            <a href="#"
                                               rel="tooltip"
                                               data-toggle="modal"
                                               data-target="#add_class"
                                               class="btn btn-success btn-simple btn-xs"
                                               data-original-title="編輯">
                                                <i class="ti-pencil-alt"></i>
                                            </a>

                                            <a href="/Areas/Classes/Delete/@item.Session"
                                               rel="tooltip"
                                               title=""
                                               class="btn btn-danger btn-simple btn-xs"
                                               data-original-title="刪除">
                                                <i class="ti-close"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section model {

    <!-- 新增梯次 Modal -->
    <div class="modal fade add_class"
         id="add_class"
         tabindex="-1"
         role="dialog"
         aria-labelledby="add_class"
         aria-hidden="true">
        <div class="modal-dialog" role="document">

            <iframe src="/Areas/Classes/Create" width="100%" height="417px" frameborder="0" scrolling="no" style="border-radius: 6px"></iframe>

        </div>
    </div>
}